@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</h4>
</div>



<div>
<h2> <span>Below is a video of the song Thunder by Gabry Ponte</span></h2>
        <div id="fonts"> Click the button to change the color of font inside the button.</div>
        <button onclick="changeFontColor()" id="btn">change color</button>

    </div>


<iframe width="987" height="555" src="https://www.youtube.com/embed/vdzHlbFItlw" title="Gabry Ponte, LUM!X, Prezioso - Thunder" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>